@page "/contacts"
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Collections.ObjectModel
@using ContactTracker.Domain.Contacts
@inject IContactRepository ContactRepository

<h3>Contacts</h3>

<QuickGrid Items="@contacts" Pagination="@pagination">
    <PropertyColumn Property="@(c => c.FirstName)" Title="First Name" Sortable="true" />
    <PropertyColumn Property="@(c => c.LastName)" Title="Last Name" Sortable="true" />
</QuickGrid>

<Paginator State="@pagination" />

@code {
    private IQueryable<Contact>? contacts;
    private PaginationState pagination = new PaginationState { ItemsPerPage = 30 };

    protected override async Task OnInitializedAsync()
    {
        var contactsList = await ContactRepository.ListAsync();
        contacts = contactsList.AsQueryable();
    }
}