<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full">
        <MudText Typo="Typo.h6" Class="px-4"><h6>Contact Tracker</h6></MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">App</MudText>
        <MudDivider Class="my-2" />
        <MudNavGroup Title="Contacts" Icon="@Icons.Material.Filled.People">
            <MudNavLink Href="/listcontacts" Icon="@Icons.Material.Filled.List">List</MudNavLink>
            <MudNavLink Href="/createcontact" Icon="@Icons.Material.Filled.Add">Add</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Events" Icon="@Icons.Material.Filled.Event">
            <MudNavLink Href="/createevent" Icon="@Icons.Material.Filled.Add">Add</MudNavLink>
            <MudNavLink Href="/eventcalendar" Icon="@Icons.Material.Filled.CalendarMonth">Calendar</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudPaper>